:root{
    --main-color: rgb(42, 42, 236);
    --main-color-darker: rgb(42, 42, 189);
    --menu-background-color: rgb(25, 25, 189);
}
/*General settings for every component, so that they are easy to handle and responsive*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*General settings for the header: occupies the main superior part*/
header {
    width: 100%;
    height: 70px;
    background-color: var(--main-color);
    display: flex;
    box-shadow: 5px 5px 5px rgba(10, 10, 10, 0.2);
}

/*LOGO RELATED STYLES*/
/*Place where the logo is ubicated, full height and responsive width*/
.logo-container {
    height: 100%;
    text-align: center;
    margin: auto 5vh;
    display: flex;
    cursor: pointer; /*Shows a different cursor*/
}

/*Logo element, an href that moves you to the main page*/
.logo-container a {
    color: white;
    font-weight: 700;
    font-size: 180%;
    margin: auto 0;
}

/*Sight animation, obscure background when the logo is clicked*/
.logo-container:active {
    background-color: var(--main-color-darker);
}

/*MENU RELATED STYLES*/
.menu-container {
    display: flex;
    height: 100%;
}

/*Each element of the list is one available menu option, displayed along the header*/
.menu-container ul {
    display: flex;
    align-items: center;
}

/*Each item is a li, containig full line text and spacing within the others*/
.menu-item {
    list-style: none;
    height: 100%;
    align-items: center;
    white-space: nowrap;
    padding: 0 1vw;
    display: flex;
    cursor: pointer;
}

/*When the mouse passes through one menu item, it obscures itself*/
.menu-item:hover {
    background-color: var(--menu-background-color);
}

.menu-item a { /*Text size and weight stablished so that it looks proportioned*/
    color: white;
    font-weight: 500;
    font-size: 100%;
}

.burger-menu-container { /*The display menu button is hidden at the begginig*/
    display: none;
}

.burger-menu { /*Burger menu icon, with its animation*/
    height: 45%;
    transition: 0.3s ease-in-out;
}

.burger-menu:hover { /*Mouse passes through the icon, the logo inflates*/
    transform: scale(1.08);
}

@media (max-width: 900px) { /*When the width is less than 900px, the header disposal changes*/
    /*The menu items that were displayed in the header now will be available in the burger-menu*/
    .menu-container {
        display: none;
    }

    /*The burger menu button container is shown so that it can be used*/
    .burger-menu-container {
        margin: 0 0 0 4vw;
        display: flex;
        align-items: center;
    }

    /*New style for the menu, that now will be displayed in the whole screen*/
    .menu-container ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(0, 0, 101);
        align-items: center;
        top: 70px;
        left: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    /*New style for the new menu itms, that now will be displayed in the whole screen*/
    .menu-item {
        list-style: none;
        height: 10%;
        width: 100%;
        white-space: nowrap;
        display: flex;
        cursor: pointer;
        flex-direction: column;
        margin: 2vh 2wv;
    }

    /*New style for the text contained in every menu item*/
    .menu-item a{
        color: white;
        font-weight: 500;
        font-size: 100%;
        display: flex;
        align-items: center;
        margin: auto;
    }

    /*When the burger menu is clicked, the hidden menu is displayed*/
    #open-menu:checked~.menu-container {
        display: block;
    }
}

/*When the width is even fewer, we readapt the components to make it responsive*/
@media (max-width: 575px) {
    /*Logo is redimensioned*/
    .logo-container {
        transform: scale(0.55);
        margin: 0 0.5vw;
        width: 50px;
    }

    /*Searchbar grows so that its easier to click*/
    .searchbar-container form{
        width: 85%;
    }

    /*New style for the redimentioned logo*/
    .logo-container a {
        color: white;
        font-weight: 700;
        font-size: 130%;
        margin: auto 0;
    }
}

/*SPACEBAR RELATED STYLES*/
.searchbar-container {
    flex-grow: 1;
    height: 100%;
    margin: 0 2vw;
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
}

/*The form containing the searchbar is redimentioned to the wanted size and display,
so that the elements can be placed inside and use its father attributes*/
.searchbar-container form {
    background: grey;
    border-radius: 25px;
    position: relative;
    width: 80%;
    height: 50%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

/*Stablishes the style of the imported search lupe logo*/
.search-lupe {
    position: absolute;
    top: 0;
    right: 1%;
    border-radius: 50%;
    aspect-ratio: 1;
    height: 100%;
    cursor: pointer;
    border: none;
    background: none;
    color: white;
    font-size: 100%;
    transition: 0.3s ease-in-out;
}

/*When the mouse passes through the lupe, it grows to show interactibility*/
.search-lupe:hover {
    transform: scale(1.1);
}

/*Searchbar colours and display to match the business logic*/
.searchbar {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 25px;
    margin: 0 0 0 auto;
    border-top: 2px solid rgb(90, 90, 226);
    border-left: 2px solid rgb(90, 90, 226);
    border-bottom: 2px solid rgb(90, 90, 226);
    border-right: none;
    padding: 8px 12px 8px 12px;
    font-weight: 400;
    font-size: 100%;
    background-color: rgb(11, 11, 146);
    color: white;
}

/*Changes the placeholder colour as well*/
.searchbar::placeholder {
    color: rgb(186, 186, 186);
}

/*PROFILE ACCESS RELATED STYLES*/
/*Container is ubicated at the right of the screen*/
.profile-access-container {
    height: 100%;
    margin: 0 4vw;
    display: flex;
    align-items: center;
    vertical-align: middle;
    cursor: pointer;
}

/*When the mouse passes through the container, it grows to show interactibility*/
.profile-access-container:hover .user-logo {
    filter: invert(1100);
    transform: scale(1.1);
}

/*Size of the actual logo*/
.user-logo {
    height: 45%;
    transition: 0.3s ease-in-out;
}