<html>
    <head>
        <title>Ticketmaster</title>
        <link type="text/css" rel="stylesheet" href="/main-page.css" >
    </head>
    <body>
        <header>
            {{>header}}
        </header>
        <!-- Next Concerts -->
        {{#session_ongoing}}
            <h1>Next Concerts in your Area:</h1>
        {{/session_ongoing}}
        {{^session_ongoing}}
            <h1>Next Concerts:</h1>
        {{/session_ongoing}}

        <!-- Show Concerts -->
        {{#concert_list}}
            <div>
                <form method="post" action=""> <!-- Controller who takes u to the buying page for that concert -->
                    <img class="concert-photo" src="{{url}}"> <br>
                    <input class="buy-tickets" type="submit" value="Buy Tickets"> <!-- name or id of concert-->
                </form>
            </div>
        {{/concert_list}}
        {{^concert_list}}
            <p>There are no concerts soon</p>
        {{/concert_list}}

        <!-- Meet New Artist -->
        <h1>Meet::</h1>

        <!-- Show Concerts -->
        {{#artist_list}}
            <div>
                <form method="post" action=""> <!-- Controller who takes u to the buying page for that artist -->
                    <img class="artist-photo" src="{{url}}"> <br>
                    <input class="info-artist" type="submit" value="Show Info"> <!-- name or id of artist-->
                </form>
            </div>
        {{/artist_list}}
        {{^artist_list}}
            <p>There are no new artists</p>
        {{/artist_list}}

    </body>
</html>
<!-- {{>footer}} -->