<html>
    <head>
        <title>Ticketmaster</title>
        <link type="text/css" rel="stylesheet" href="/main-page.css" >
    </head>
    <body>
        <header>
            {{>header}}
        </header>
        <!-- Next Concerts -->
        <div class="title-container">
            {{#is-logged}}
                <h1>Upcoming Concerts in your Area:</h1>
            {{/is-logged}}
            {{^is-logged}}
                <h1>Upcoming Concerts:</h1>
            {{/is-logged}}
        </div>

        <!-- Show Concerts -->
        {{>display-concerts}}

        <!-- Meet New Artist -->
        <h1>Meet:</h1>

        <!-- Show New Artist -->
        {{>display-artists}}

    </body>
</html>
<!-- {{>footer}} -->