<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in user</title>
    <link rel="stylesheet" href="../static/StyleSignIn.css">
</head>
<body style="background-color: rgb(244, 244, 238);">
    <div>
        <img src="logo.png" alt="" width="100"; height="100" style="position: relative;left: auto;">
    </div>
    <!-- Depending on whether or not the user is register on the database, it will shown two html templates
        the log in template or the register template--> 
    {{#userName}}
        <div id="logInSection">
            <h1>Iniciar Sesión</h1>
            <form action="" method="post">
                <p>Introduzca su nombre de usuario</p>
                <input type="text" name="userName">
                <p>Introduzca su contraseña</p>
                <input type="password" name="password">
                <br>
                <br>
                <input type="submit" value="Iniciar Sesión">
            </form>
        </div>
        <br>
        <div id="registerButton">
            <p>¿Aún no tienes cuenta?</p>
            <a href="">Registrarme</a> <!-- Falta colocar el enlace del link de registarme
                                                            Para que el controlador se encargue de ello-->
        </div>
    {{/userName}}

    {{^userName}}
    <div id="registerSection">
        <h1>Registarse</h1>
        <form action="" method="post"> <!-- Falta la ruta para el controlador-->
            <p>Introduzca su nombre de usuario</p>
            <input type="text" name="userName">
            <p>Introduzca su contraseña</p>
            <input type="password" name="password">
            <p>Seleccione su país</p>
            <select id="countrySelector">
                <option value="country1">America</option>
                <option value="country2">Europa</option>
                <option value="country3">Asia</option>
                <option value="country4">Oceanía</option>
                <option value="country5">Africa</option>
                <select disabled="disabled"></select>
            </select>
            <br>
            <br>
            <input type="submit" value="Registrarme">
        </form>
    </div>
    {{/userName}}
</body>
</html>