<!--Admin artists HTML is the piece of code dedicated to the administrator function
over the artists. It proportions a simple and intuitive way of adding, modifying or
deleting artists, including a searchbar to find every artist-->
<html>

<head>
    <title>Admin Artists</title>
    <link rel="stylesheet" href="/css/common-styles.css">
    <link rel="stylesheet" href="/css/artist-style.css">
    <link rel="stylesheet" href="/css/personal-pages-style.css">
    <link rel="stylesheet" href="/css/header-style.css">
    <link rel="icon" type="image/png" href="/media/admin.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.2.1/mustache.min.js"></script>
</head>

<body>
    <header> <!--Header injection, common for every page in the web-->
        {{>header}}
    </header>

    <main> <!--Common title container to inform of the function of the page-->
        <div class="title-container">
            <div class="title">
                Add new artist
            </div>
        </div>

        <!--Big button that redirects the admin to the Artist Workbench, where an artist can be added-->
        <form action="/admin/artist/workbench" class="big-button">
            <button type="submit" class="green-style">
                <div class="symbol-container"> <!--Plus image, with decorative purpose-->
                    <img src="/media/plus.png" class="image-in-container">
                </div>
                <p class="button-text">
                    Add new Artist
                </p>
            </button>
        </form>

        <!--Part where artists can be searched and modified-->
        <!--Common title container informing of the section where artists can be modified-->
        <div class="title-container">
            <div class="title">
                Modify existing artists
            </div>
        </div>

        <div class="searchbar-container"> <!--Searchbar for artist search, recycled from the header (sthetics)-->
            <!--Searchbar, made of a search input and a submit imported with magnifying glass style-->
            <form action="/admin/artist">
                <input type="search" name="search" placeholder="Find existing Artist..." class="searchbar">
                <button type="submit" class="search-lupe"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
        </div>

        <!--Artists display-->
        <div class="general-container row-container" id="more-artists"> <!--Artist container-->

        </div>

        <!-- Button to add more dynamic artists -->
        <button id="load-more-artists" style="display:none; margin: 20px auto;">Load more</button>
    </main>
    <!--JS that handle pagination for artists-->
    <script src="/js/artistPagination.js"></script>
</body>

</html>