<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cancel Purchase</title>
    <link rel="icon" type="image/png" href="https://i.postimg.cc/3R4jFzDM/check.png">
    <link rel="stylesheet" href="/css/message-styles.css">
</head>

<body>
    <div class="message-container">
        <h1 class="cancel-message">Your Purchase has been Canceled</h1>
        <p>We're sorry to see you go! If you change your mind, feel free to book again.</p>
        <form action="/concert/{{id}}">
            <input type="submit" value="Back to Event" class="button">
        </form>
    </div>
</body>
</html>