<!--Concert list that can be injected into a general container to show a search made by the user-->
<link rel="stylesheet" href="concert-style.css">
<div class="concert-container">
    <!--Big general container ensuring space between different objects and also containing every hidden element-->
    <div class="main-container"> <!--Container with every non-hidden element-->
        <div class="concert-photo-container"><!--Image of the concert's poster/promotional photo-->
            <img src="link.to.image">
        </div>

        <div class="horizontal-separator"></div>

        <div class="concert-date-container"><!--Date of the concert-->
            <div class="date-day-container">
                <p>{{date.dayOfMonth}}</p>
            </div>
            <div class="date-month-container">
                <p>{{date.Month}}</p>
            </div>
            <div class="date-year-container">
                <p>{{date.Year}}</p>
            </div>
        </div>

        <div class="horizontal-separator"></div>

        <div class="concert-info-container"><!--Information of the concert-->
            <div class="artist-name">
                <p>{{artist.name}}</p>
            </div>

            <div class="concert-info">
                {{place}} · {{formattedTime}}
                <br>
                {{name}}
            </div>
        </div>

        <div class="horizontal-separator"></div>

        <div class="buttons-container">
            {{#isLogged}}
            <button class="concert-button" onclick="window.location.href='/concert/{{id}}/purchase'">Get
                Tickets</button>
            {{/isLogged}}
            {{^isLogged}}
            <button class="concert-button" onclick="window.location.href='/sign-in'">Get
                Tickets</button>
            {{/isLogged}}
            <button class="concert-button" onclick="window.location.href='/artist/{{artist.id}}'">Artist
                Page</button>
            <label for="more-info-{{-index}}" class="concert-button">More info</label>
            <!--Button that toogles the checkbox to show the hidden extra information-->
        </div>
    </div>

    <!--Chechbox toogled with a label inside the visual part-->
    <input type="checkbox" id="more-info-{{-index}}" class="more-info-toggle">

    <!--Container with hidden information-->
    <div class="more-info-container"> <!--Detailed information container-->
        <p>{{info}}</p> <!--For example, extra artist information (to be decided)-->
    </div>

</div>