<html>

<head>
    <title>
        {{#added}}Added{{/added}}
        {{#modified}}Modified{{/modified}}
        {{#deleted}}Deleted{{/deleted}}
    </title>
    <link type="text/css" rel="stylesheet" href="/css/common-styles.css">
    <link type="text/css" rel="stylesheet" href="/css/message-styles.css">
    <link rel="icon" type="image/png" href="https://i.postimg.cc/3R4jFzDM/check.png">
</head>

<body>
    <div class="message-container">
        {{#added}}
        <form action="/admin/concert">
            <h1 class="added-code">Added</h1>
            <p>Concert added succesfully</p>
            <br>
            <a href="/admin/concert" class="back-home">Go back to home page</a>
        </form>
        {{/added}}
        {{#modified}}
        <form action="/admin/concert">
            <h1 class="mody-code">Modified</h1>
            <p>Concert modified succesfully</p>
            <br>
            <a href="/admin/concert" class="back-home">Go back to home page</a>
        </form>
        {{/modified}}
        {{#deleted}}
        <form action="/admin/concert">
            <h1 class="delete-code">Deleted</h1>
            <p>Concert deleted succesfully</p>
            <br>
            <a href="/admin/concert" class="back-home">Go back to home page</a>
        </form>
        {{/deleted}}
    </div>
</body>
</html>