<!-- HTML doc injectable -->
<!-- it shows a list of artist with the artist photo and a button to go to their info page -->
{{#artistList}}
<link rel="stylesheet" href="/css/artist-style.css">
<link rel="stylesheet" href="/css/common-styles.css">
<div class="artist-container">
    <div class="artist-photo">
        <img src="" class="image-in-container image-rounded">
    </div>
    <div class="name-container">
        <p>{{name}}</p>
    </div>
    <div class="button-container">
        <form action="">
            <input type="submit" value="More Info">
        </form>
    </div>
</div>
{{/artistList}}
{{^artistList}}
    <p>There are no artists to show</p>
{{/artistList}}