<!-- HTML doc injectable -->
<!-- it shows a list of artist with the artist photo and a button to go to their info page -->
{{#artistList}}
<link rel="stylesheet" href="/css/artist-style.css">
<link rel="stylesheet" href="/css/common-styles.css">
<div class="artist-container">
    {{#photo}}
    <div class="artist-photo">
        <img src="/artist/{{id}}/download-photo" class="image-in-container image-rounded">
    </div>
    {{/photo}}
    {{^photo}}
    <div class="artist-photo">
        <img src="/media/no-photo-artist.png" class="image-in-container image-rounded">
    </div>
    {{/photo}}
    <div class="name-container">
        <p>{{name}}</p>
    </div>
    <div class="button-container">
        {{^modifyArtist}} <!--If the artist is not going to be modified, its page is shown-->
        <form action="/artist/{{id}}">
            <input type="submit" value="More Info">
        </form>
        {{/modifyArtist}}
        {{#modifyArtist}} <!--If the artist is going to be modified, the modify button is displayed-->
        <form action="/admin/artist/{{id}}" method="get">
            <input type="submit" value="Modify">
        </form>
        {{/modifyArtist}}
    </div>
</div>

{{/artistList}}
{{^artistList}}
<p>There are no artists to show</p>
{{/artistList}}