<!--Ticket List injectable HTML-->
{{#ticketList}} <!--If there are tickets in the list, they is displayed-->
<div class="ticket">
    <div class="ticket-front">
        <div class="ticket-poster"> <!--Image of the concert-->
            <img src="/concert/{{concert.id}}/download-poster" class="image-in-container-fitted">
        </div>
        <p>{{concert.name}}</p> <!--Concert name-->
    </div>
    <div class="ticket-back">
        <p>{{concert.artist.name}}</p> <!--Specific ticket information: artist name-->
        <p>{{concert.formattedTime}} - {{concert.place}}</p>
        <p>{{zone}} Stands</p> <!--Specific ticket information: zone-->
        <p>{{ticketUser.userName}}</p> <!--Specific ticket information: zone-->
        <form action="/ticket/delete" method="post" enctype="multipart/form-data"> <!--Form to delete a ticket-->
            <input type="hidden" name="id" value="{{id}}">
            <input type="submit" value="Delete Ticket" class="red-style">
            <input type="hidden" name="_csrf" value="{{token}}"/>
        </form>
    </div>
</div>
{{/ticketList}}
{{^ticketList}} <!--If there are no tickets, the following message is shown-->
<p>There are no tickets to show</p>
{{/ticketList}}