<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="icon" type="image/png" href="https://i.postimg.cc/PJdx5wH6/Error.png">
    <link rel="stylesheet" href="/css/message-styles.css">
</head>
<body>
    <div class="message-container">
        <h1 class="error-code">{{errorCode}}</h1>
        <p class="error-message">{{errorMessage}}</p>
        <br>
        <a href="/" class="back-home">Go back to home page</a>
    </div>
</body>
</html>