<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="icon" type="image/png" href="/media/Error.png">
    <link rel="stylesheet" href="/css/error-styles.css">
</head>
<body>
    <div class="error-container">
        <h1 class="error-code">Error 404</h1>
        <p>¡Oops! It seems you are looking for the wrong page.</p>
        <p>Be careful next time you enter a URL, it could take you to a competitor's website (in case we have 😉​)</p>
        <br>
        <a href="/" class="back-home">Go back to home page</a>
    </div>
</body>
</html>