<link rel="stylesheet" href="/css/header-style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header class="header">
    <!--Hidden burger menu button (label of a checkbox), it will be displayed when width is little-->
    <div class="burger-menu-container">
        <label for="open-menu">
            <img src="https://i.postimg.cc/TwFwSmjJ/burger-menu.png" class="burger-menu"> <!--Hidden burger menu logo-->
        </label>
    </div>

    <input type="checkbox" id="open-menu" style="display: none;"> <!--Hidden checkbox that triggers the menu display-->

    <div class="logo-container" onclick="window.location.href='/'">
        <!--App logo, when clicked the user is redirected to the main page-->
        <a href="/">LiveTicket</a>
    </div>

    <div class="menu-container"> <!--Menu displayed in the header and hidden when width is not enough-->
        <ul>
            {{#isLogged}} <!--Logged regular user menu items-->
            <li class="menu-item"><a href="/profile?showPersonalInfo=true">Profile</a></li>
            <li class="menu-item"><a href="/profile?showMyConcerts=true">My Concerts</a></li>
            <li class="menu-item"><a href="/profile?showMyArtists=true">My Artists</a></li>
            {{/isLogged}}
            {{^isLogged}} <!--Not logged menu items-->
            <li class="menu-item"><a href="/sign-up">Register</a></li>
            <li class="menu-item"><a href="/sign-in">Sign In</a></li>
            {{/isLogged}}
            {{#isAdmin}} <!--Admin menu items-->
            <li class="menu-item"><a href="/admin/concert">Admin Concerts</a></li>
            <li class="menu-item"><a href="/admin/artist">Admin Artists</a></li>
            {{/isAdmin}}
        </ul>
    </div>

    <div class="searchbar-container">
        <!--Searchbar, made of a search input and a submit imported with magnifying glass style-->
        <form action="/">
            <input type="search" name="search" placeholder="Artist or Concert..." class="searchbar">
            <button type="submit" class="search-lupe"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
    </div>
    {{#isLogged}} <!--Access to the profile when the user is logged-->
    <div class="profile-access-container" onclick="window.location.href='/profile?showPersonalInfo=true'">
        <img src="https://i.postimg.cc/4N3NXWyN/user-logo.png" class="user-logo">
    </div>
    {{/isLogged}}
    {{^isLogged}} <!--Access to the registration/sign up page when the user is not logged-->
    <div class="profile-access-container" onclick="window.location.href='/sign-in'">
        <img src="https://i.postimg.cc/7fGZPZNy/unknown-logo.png" class="user-logo">
    </div>
    {{/isLogged}}
</header>