<!--Profile page where personal and intransferible settings and objects can be found: my artist, 
my profile and my concerts (where tickets are)-->
<html>

<head>
    <meta charset="UTF-8">
    <title>Personal Panel</title>
    <link rel="stylesheet" href="/css/common-styles.css">
    <link rel="stylesheet" href="/css/personal-pages-style.css">
    <link rel="icon" type="image/png" href="/media/microphone.png">
</head>

<body>
    <header> <!--Header injection-->
        {{>header}}
    </header>

    <main>
        <!--Projector piece of code-->
        {{#showPersonalInfo}} <!--If the "My Profile" link is clicked-->
        <div class="title-container"> <!--Section title with style-->
            <div class="title">
                Personal information
            </div>
        </div>

        <form action="/profile/changeSettings" enctype="multipart/form-data" method="post">
            <input type="number" value="{{user.id}}" name="id" hidden>

            <div class="general-container column-container">
                <div class="attribute-container"> <!--Username-->
                    <label for="username">Username</label>
                    <input type="text" value="{{user.username}}" name="username" readonly>
                </div>

                <div class="attribute-container"> <!--Email-->
                    <label for="email">E-mail</label>
                    <input type="text" value="{{user.email}}" name="email" readonly>
                </div>

                <div class="attribute-container"> <!--Country-->
                    <label for="country">Country</label>
                    <select name="country" class="selects-containers" required> <!--Country can be changed-->
                        <option value="{{user.country}}" selected>{{user.country}}</option>
                        <!--Default option: previous one-->
                        <hr> <!--The rest of options-->
                        <option value="Europe">Europe</option>
                        <option value="America">America</option>
                        <option value="Asia">Asia</option>
                        <option value="Oceania">Oceania</option>
                        <option value="Africa">Africa</option>
                    </select>
                </div>

                <button type="submit" class="central-button">Apply Changes</button>
                <!--More Personal information categories to be added-->
            </div>

            <div class="title-container">
                <div class="title">
                    Visual information
                </div>
            </div>

            <div class="general-container column-container">
                <!--Place where the user can update its profile photo an see its actual profile photo-->

                <div class="attribute-container"> <!--Actual profile photo displayer-->
                    <label for="user-photo">Personal photo</label>
                    {{#user.profilePicture}} <!--If the user has uploaded any profile picture-->
                    <div class="photo-container">
                        <img src="/profile/download-profile-picture" class="image-in-container image-rounded">
                    </div>
                    {{/user.profilePicture}}
                    {{^user.profilePicture}} <!--If the user has not uploaded any profile picture-->
                    <div class="photo-container">
                        <img src="/media/profile.png" class="image-in-container image-rounded">
                    </div>
                    {{/user.profilePicture}}
                </div>

                <div class="attribute-container"> <!--Exact point where the profile photo can be updated-->
                    <label for="user-change-photo">Upload/Change personal photo</label>
                    <input type="file" id="user-change-photo" name="newPhoto" accept=".png, .jpeg, .jpg">
                </div>

                <button type="submit" class="central-button">Apply Changes</button>


                <!--More Personal information categories to be added-->
            </div>
            <input type="hidden" name="_csrf" value="{{token}}"/>
        </form>

        <!--Profile deletion and logout forms-->
        <div class="general-container row-container">

            <form action="/profile/delete-profile" enctype="multipart/form-data" method="post" style="margin: 0 auto;">

                <button type="submit" class="central-button red-style">Delete profile</button>
            
                <input type="hidden" name="_csrf" value="{{token}}"/>
            </form>

            <form action="/logout" method="post" enctype="multipart/form-data" style="margin: 0 auto;">

                <button type="submit" class="central-button red-style">Logout</button>
            
                <input type="hidden" name="_csrf" value="{{token}}"/>
            </form>

        </div>

        <!--More categories of information to be added-->
        {{/showPersonalInfo}}

        {{#showMyArtists}} <!--If the "My Artists" link is clicked-->
        <div class="title-container"> <!--Section title with style-->
            <div class="title">
                Followed Artists
            </div>
        </div>

        <div class="general-container">
            {{>display-artists}} <!--Display followed artists-->
        </div>

        <!--More categories of information about artists to be added-->
        {{/showMyArtists}}

        {{#showMyConcerts}} <!--If the "My Concerts" link is clicked-->
        <div class="title-container"> <!--Section title with style-->
            <div class="title">
                My Concerts
            </div>
        </div>

        <div class="general-container">
            {{>display-tickets}} <!--Display bought tickets-->
        </div>
        {{/showMyConcerts}}
    </main>
</body>
</html>