<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase Confirmation</title>
    <link rel="stylesheet" href="/css/main-style.css">
    <link rel="stylesheet" href="/css/purchase-confirmation-style.css">
    <link rel="icon" type="image/png" href="https://i.postimg.cc/3R4jFzDM/check.png">
</head>

<body class="title-container">
    <div class="menu-button-container">
        <a href="/">
            <img src="https://i.postimg.cc/50gJpkc3/home.png" alt="">
        </a>
    </div>
    <h1 id="title">Thank you for your purchase!</h1>
    <h2 id="subtitle">Enjoy the show!​</h2>
    <div class="video-container">
        <img id="video" src="https://i.postimg.cc/bNT6rcxL/confirmation-video.gif"></video>
    </div>
</body>
</html>