<!--ticket-selling.html is a page that can be visited from different places of the system: from a search, from the main
page and its function is to provide the user a simple way to select the tickets ubication and quantity-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket Selling</title>
    <link rel="stylesheet" href="/css/ticket-selling-style.css">
    <link rel="stylesheet" href="/css/common-styles.css">
    <link rel="icon" type="image/png" href="/media/Ticket.png">
</head>

<body>

    <header> <!--Header injection-->
        {{>header}}
    </header>

    <main>
        <div class="selling-info-container row-container"> <!--Information purpose structure container-->
            <div class="info-container column-container"> <!--Concert information structure container-->
                <p id="concert-title"><strong>
                    {{concert.name}} <!--Name of the concert object to be elected the tickets-->
                </strong></p>
                <p id="concert-place"><strong>{{concert.artist.name}} · {{concert.place}} ·
                        {{concert.formattedTime}}</strong>
                <p>
            </div>

            <div class="info-container"> <!--Title of the actual page container-->
                <p id="ticket-explaining">Ticket Selection</p>
            </div>
        </div>

        <div class="general-container row-container"> <!--Main container where the actual logic of the page is placed-->
            <div class="map-container"> <!--Representative map of the concert stadium-->
                <img id="stadium" src="/media/stadium.png" class="image-in-container">
            </div>

            <div class="map-container"> <!--Container of the form that collects the ticket data-->
                <form action="/concert/{{concert.id}}/purchase" method="post">
                    <div class="title-of-box-container">
                        <p>Choose the zone</p> 
                    </div>

                    <div class="ticket-selection"> <!--Ticket selection options, they deppend on the availability of the concert-->
                        <select class="zone-selector" name="ticketType" required>
                            <option value="" disabled selected>Choose zone</option>
                            {{#concert.remainNorthStands}}
                            <option value="North">North Side</option>
                            {{/concert.remainNorthStands}}
                            {{#concert.remainEastStands}}
                            <option value="East">East Side</option>
                            {{/concert.remainEastStands}}
                            {{#concert.remainWestStands}}
                            <option value="West">West Side</option>
                            {{/concert.remainWestStands}}
                            {{#concert.remainGeneralAdmissionStands}}
                            <option value="General">General Admission</option>
                            {{/concert.remainGeneralAdmissionStands}}
                        </select>
                        <p id="ticket-number-label">Ticket number:</p> <!--Number of tickets selector-->
                        <input id="number-selector" name="number" type="number" min="1" step="1" value="1" required>
                    </div>
                    <input id="submit-selection" type="submit" value="Continue"> <!--Submit button that transports the user to the purchase page-->
                </form>
            </div>
        </div>

    </main>
</body>

</html>