<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket Selling</title>
    <link rel="stylesheet" href="main-style.css">
    <link rel="stylesheet" href="ticket-selling-style.css">
</head>
<body class="title-container">
    <main-body>
        <div class="container">
            <h1 id="title">Ticket Selling</h1>
            <!-- When the user click on his picture, it will open the html file corresponding to the user´s information-->
            <a href=""> <!-- PENDING CODE: Here will be the name of the html file corresponding to the profile-->
                {{#user.hasProfilePicture}}
                    <!-- PENDING CODE: The profile picture will be loaded from the database.-->
                {{/user.hasProfilePicture}}
                {{^user.hasProfilePicture}} <!-- The user does not have a profile picture, so it will shown this default picture-->
                    <img id="image" src="./media/profile.png">
                {{/user.hasProfilePicture}}
            </a>
        </div>
        <h2 id="concert-title"><strong>{{concert.name}}</strong></h2> <!-- concert.name is the name of the sleected concert-->
        <h2 id="content"><strong>Choose the ticket of your preference</strong></h2>
        <div class="ticket-selection">
            <h3><strong>{{concert.place}}</strong></h3> <!-- concert.place is the name of the stadium where the concert will be held.-->
            <img id="stadium" src="./media/stadium.png">
            <h3 id="zone"><strong>Choose the zone</strong></h4>
            <select id="zone-selector">
                <option value="North">North Side</option>
                <option value="East">East Side</option>
                <option value="West">West Side</option>
                <option value="Floor">Floor</option>
                <select disabled="disabled"></select>
            </select>
            <input type="number" min="1" step="1" placeholder="Number of Tickets">
        </div>
        <form action="" method="post"> <!-- It will be needed to specify the action of the button-->
            <input id="continue-button" type="submit" value="Continue">
        </form>
    </main-body>

    <footer>
        {{>../static/footer}}
    </footer> 
</body>
</html>