<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In Confirmation</title>
    <link rel="stylesheet" href="/css/message-styles.css">
    <link rel="icon" type="image/png" href="/media/check.png">
</head>
<body>
    <div class="message-container">
        <h1 class="welcome-message">Welcome {{welcome}}!</h1>
        <p>It`s nice to have you here!​</p>
        <form action="/">
            <input type="submit" value="Continue" class="button">
        </form>
    </div>
</body>
</html>