#log-in-section {
    text-align: center;
    position: relative; margin-top: -4%;
}

.register-section {
    text-align: center;
    position: relative; margin-top: -4%;
}

#register-button {
    text-align: center;
}