#log-in-section {
    text-align: center;
    position: relative; margin-top: -4%;
}

#link:hover {
    cursor: pointer;
}

.register-section {
    text-align: center;
    position: relative; margin-top: -4%;
}

#register-button {
    text-align: center;
}

#country-selector:hover {
    cursor: pointer;
}