#logInSection {
    text-align: center;
    position: relative; margin-top: -4%;
}

#registerSection {
    text-align: center;
    position: relative; margin-top: -4%;
}

#registerButton {
    text-align: center;
}